@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    text-align: center;
    background: linear-gradient(60deg, rgb(180, 236, 255), rgb(101, 161, 252));
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 97vh;
}

.container {
    height: 35rem;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
}

.searchbox {
    position: relative;
    width: 100%;
    height: 13%;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 15px 0px #c5c5c5;
    font-family: 'Comfortaa';
}

input[type=city] {
    margin-top : 1.5rem;
    width: 25%;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(231, 231, 231);
    text-transform: capitalize;
    font-family: 'Hind', sans-serif;
}

input[type=city]:focus {
    outline: none;
}

input[type=submit] {
    display: none;
}

#searchsvg {
    transform: rotate(0deg);
    transition: all 1s;
}

#searchsvg:hover {
    transform: rotate(90deg);
}

p {
    color: black;
}

#city {
    font-size: 2rem;
    margin-bottom: -2rem;
    color: rgb(146, 146, 146);
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

#weather_temp {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;

}

#wicon {
    margin-left: -3.75rem;
}

#weather_desc {
    display: inline;
    position: absolute;
    transform: translateY(-0.15rem);
    text-transform: capitalize;
    font-family: 'Comfortaa', cursive;
    color: rgb(146, 146, 146);
}

#icon {
    text-align: center;
    margin-top: 1.5rem;
}

hr {
    margin-top: 2rem;
    width: 50%;
    background-color: #a5a5a5;
    height: 1px;
    border-radius: 100%;
}

.line {
    margin-top: -2.5rem;
    font-family: 'Comfortaa', cursive;
}

.line2 {
    margin-top: 2rem;
    font-family: 'Comfortaa', cursive;
}

.sunnyanimation {
    animation: sunny 5s linear infinite;
}

#weather_tmin {
    display: inline;
    color: rgb(137, 202, 255);
}

#separe2 {
    display: inline;
}

#weather_tmax {
    display: inline;
    color: rgb(255, 93, 93);
}

#weather_pres, #weather_hum, #weather_feli {
    margin-top: -0.25rem;
    color: rgb(146, 146, 146);
    font-family: 'Comfortaa', cursive;
}

#sunrise, #sunset, #separe {
    display: inline;
    color: rgb(146, 146, 146);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes sunny {
    from {transform: rotate(0)}
    to {transform: rotate(360deg);}
}
